<form id="contactform" action="https://formsubmit.co/26be23b3556f28c35288d08c460a59ce" method="POST" target="_blank">
<h2>get in touch</h2>
  <label>
    <span><i class="fa-solid fa-user"></i></span>
    <input type="name" name="name" placeholder="name" required="">
  <div data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div></label>
  <label>
    <span><i class="fa-solid fa-at"></i></span>
    <input type="email" name="email" placeholder="email" required="">
  </label>
  <label>
    <span><i class="fa-solid fa-quote-right"></i></span>
    <input type="subject" name="_subject" placeholder="subject" required="">
  </label>
  <label>
    <span><i class="fa-solid fa-message"></i></span>
    <textarea name="message" placeholder="message" rows="4" required=""></textarea>
  </label>
  <!-- Settings -->
  <input type="hidden" name="_template" value="table">
  <input type="hidden" name="_autoresponse" value="Thank you! Here is a copy of your message.">
  <button type="submit">send ↗</button>
</form>