{% extends "base.njk" %}

{% block style %}
	#{{ title | slugify }} {
		background-color: var(--colHighlight);
		color: var(--colActiveNav);
	}

	#{{ title | slugify }} a {
		color: var(--colActiveNav);
	}

	#{{ title | slugify }}:before{
		content: '/ ';
		color: var(--colActiveNav);
	}

	{% for tag in tags %}
	#{{ tag | slugify }} {
		background-color: var(--colHighlight);
		color: var(--colActiveNav);
	}

	#{{ tag | slugify }} a {
		color: var(--colActiveNav);
	}

	#{{ tag | slugify }}:before{
		content: '/ ';
		color: var(--colActiveNav);
	}
	{% endfor %}
{% endblock %}

{% block subnav %}
  <h2 class="subnav-title">design</h2>
    <p class="subnav-category">print</p>
      {% for project in collections.print %}
      <div class="nav-item" id="{{ project.data.title | slugify }}"><a href="{{ project.url }}">{{ project.data.title }}</a></div>
      {% endfor %}
    <p class="subnav-category">visual identity</p>
      {% for project in collections['visual identity'] %}
      <div class="nav-item" id="{{ project.data.title | slugify }}"><a href="{{ project.url }}">{{ project.data.title }}</a></div>
      {% endfor %}
    <p class="subnav-category">web</p>
      {% for project in collections.web %}
      <div class="nav-item" id="{{ project.data.title | slugify }}"><a href="{{ project.url }}">{{ project.data.title }}</a></div>
      {% endfor %}
    <p class="subnav-category">typography</p>
      {% for project in collections.typography %}
      <div class="nav-item" id="{{ project.data.title | slugify }}"><a href="{{ project.url }}">{{ project.data.title }}</a></div>
      {% endfor %}
{% endblock %}

{% block content %}

	<div id="crumbs">
	<a href="/">•</a> / <a href="/{{ category }}">{{ category }}</a> / {{ title }}
	</div>

	<h1>{{ title }}</h1>
	
	<div class="content">
	{{ content | safe }}
	</div>
	
	<div id="tagrow">
	{% for tag in tags %}
		<span class="tag">{{ tag }}</span>
	{% endfor %}
	</div>

	<hr>
	<h1 style="text-align: center">✷</h1>
{% endblock %}
