{% extends "base.njk" %}

{% block style %}
#subNav {
	background: var(--colBG1);
	border: 1px solid var(--colFrame);
	box-shadow: 4px 4px var(--colFrame);
}
{% endblock %}

{% block subnav %}
<p class="subnav-category">Contents</p>
{{ content | toc | safe }}
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<div id='mobile-toc'>
<p class="subnav-category">Contents</p>
{{ content | toc | safe }}
<hr>
</div>

<article>
{{ content | safe }}
</article>
{% endblock %}