{% extends "base.njk" %}

{% block style %}
	#{{ title | slugify }} {
		background-color: yellow;
	}

	{% for tag in tags %}
	#{{ tag | slugify }} {
		background-color: yellow;
	}
	{% endfor %}
{% endblock %}

{% block subnav %}
	{% for post in collections[category] %}
	<div id="navitem"><a href="{{ post.url }}">{{ post.data.title }}</a></div>
	{% endfor %}
{% endblock %}

{% block content %}

	<div id="crumbs">
	<a href="/">•</a> / <a href="/{{ category }}">{{ category }}</a> / {{ title }}
	</div>

	<h4>{{ title }}</h4>

	{{ content | safe }}
	
	<div id="tagrow">
	{% for tag in tags %}
		<span class="tag">{{ tag }}</span>
	{% endfor %}
	</div>
{% endblock %}
