{% extends "base.njk" %}

{% block style %}
	#{{ title | slugify }} {
		background-color: var(--colHighlight);
		color: var(--colActiveNav);
	}

	#{{ title | slugify }} a {
		color: var(--colActiveNav);
	}

	#{{ title | slugify }}:before{
		content: '/ ';
		color: var(--colActiveNav);
	}
{% endblock %}

{% block subnav %}
	<h2 class="subnav-title">{{ category }}</h2>
	{% for post in collections[category] %}
	<div class="nav-item"><a id="{{ post.data.title | slugify }}" href="{{ post.url }}">{{ post.data.title }}</a></div>
	{% endfor %}
{% endblock %}

{% block content %}

	<div id="crumbs">
	<a href="/">•</a> / <a href="/{{ category }}">{{ category }}</a> / {{ title }}
	</div>

	<h1>{{ title }}</h1>

	{{ content | safe }}
	
	<div id="tagrow">
	{% for tag in tags %}
		<span class="tag">{{ tag }}</span>
	{% endfor %}
	</div>

	<h1>✷</h1>
{% endblock %}
