---
title: ABOUT
permalink: /about/
eleventyNavigation:
  key: about
  order: 5
---
{% extends "page.njk" %}

{% block content %}
<h1>About Me</h1>

<p>my name is cecile richard and im a graphic designer, zine maker, and game designer living on wurundjeri land (melbourne).</p>

<h2>cv</h2>
<h3>skills + proficiencies</h3>

<p>poster design, editorial layout design, branding/identity design, using the Adobe Suite (InDesign, Illustrator, Photoshop), experimental game design, web design (HTML, CSS), handlettering, basic bookbinding, illustration (vector, traditional, comics), block printing.</p>

<h2>experience + education</h2>

<h4>present ↓</h4>

<h3>since 2022 ✷ Voiceworks – graphic designer</h3>
<p>i am currently working as Voicework's graphic designer.<br>i design the layout for each issue of the magazine and produce promotional social media assets.</p>

<h3>since 2018 ✷ game maker + workshop host</h3>

<p>as a game maker and writer, i’ve been commissioned and published by ACMI, Going Down Swinging, Voiceworks, and LIMINAL. i’ve also hosted workshops about the tiny game editor bitsy several times in the past years, namely at local festivals such as the National Young Writers’ Festival, the Freeplay Festival and at Yarra Libraries, as well as at overseas conferences and libraries.</p>

<h3>since 2017 ✷ freelance graphic designer</h3>

<p>i have been working as a freelance designer for the past few years. i mostly specialise in print design and visual identities.</p>
<h4>past ↓</h4>

<h3>2015—2017 ✷ meo design &amp; communication — junior designer</h3>
<h3>2014—2015 ✷ b+g &amp; partners — design intern</h3>
<h3>2012—2015 ✷ ERACOM (école romande d’arts et communication)</h3>
<p>Swiss Federal Certificate of Capacity in Graphic Design<br>ERACOM Graphic Design Degree with honours — “Excellent”</p>

<hr>

<h2>awards</h2>

<h4>TOPOGRAPHY ↓</h4>
<h3>‘21 Australian Game Developer Awards</h3>
<p>excellence in narrative – nominated</p>

<h4>UNDER A STAR CALLED SUN ↓</h4>

<h3>‘21 Freeplay Awards</h3>
<p>
  <span class="winner">micro-game award – winner</span>
  <br>excellence in narrative – nominated
</p>

<h3>‘20 Australian Game Developer Awards</h3>
<p>
  <span class="winner">best narrative – winner</span>
  <br>best music – nominated
  <br>best serious game – nominated
</p>

<h3>‘20 Goolugatup Heathcote Digital Art Prize</h3>
<p>Highly Commended</p>

<h4>✨💻 ENDLESS SCROLL 💌✨ ↓</h4>

<h3>‘20 Freeplay Awards</h3>
<p>
  <span class="winner">excellence in visual art – winner</span>
  <br>excellence in narrative – nominated
  <br>micro-game award – nominated
</p>

<h4>novena ↓</h4>

<h3>‘19 Freeplay Awards</h3>
<p>
  <span class="winner">micro-game award – winner</span>
  <br>excellence in visual art – nominated
</p>

<h4>student years ↓</h4>

<h3>‘15 CVCI prize ✷ you must go on, i can't go on, i will go on</h3>
<p>best graphic design work in a professional school in Vaud, Switzerland</p>

<hr>

<h2>exhibitions</h2>
<p>SOUND BYTE @ The Toff In Town, Melbourne<br>– 06.05.2022</p>
<p>Love Me, Play Me @ Wonderville, New York City<br>– 17.02.2022</p>
<p>Big Games Night In @ ACMI Online<br>– 03.10.2021 → 10.10.2021</p>
<p>Serenade x Freeplay / Games Space @ Mothership Studios, Sydney<br>– 09.06.2021</p>
<p>Serenade x Static Vision / Dreamscapes @ Mothership Studios, Sydney<br>– 14.05.2021 → 16.05.2022</p>
<p>NZ Games Festival Level Up Exhibition<br>– 19.04.2021 → 25.04.2021</p>
<p>Big Games Night In @ ACMI Online<br>– 04.10.2020 → 11.10.2020</p>
<p>EGX Leftfield Collection @ Online<br>– 12.09.2020 → 20.09.2020</p>
<p>Online Nightmarket @ Freeplay Z•O•N•E<br>– 14.06.2020</p>
<p>An Itsy Bitsy Crisis @ LIKELIKE Online<br>– 03.04.2020 → 17.04.2020</p>
<p>Serenade Games Exhibition @ 107, Sydney<br>– 11.01.2020</p>
<p>MOTH @ PlayReactive Theatre, Melbourne<br>– 11.10.2019</p>
<p>NEXT Exhibit @ PAX Australia, Melbourne<br>– 11.10.2019 → 13.10.2019</p>
<p>Showtime Night Market @ Testing Grounds, Melbourne<br>– 01.02.2019</p>
<p>Winter Exhibition @ Bar SK, Melbourne<br>– 28.06.2018 → 11.07.2018</p>


{% endblock %}