---
title: CONTACT
permalink: /contact/
eleventyNavigation:
  key: contact
  order: 6
---
{% extends "page.njk" %}

{% block content %}
<h1>CONTACT ME</h1>

<p>you can contact me by sending an email to <em>hey.cecilerichard✷at✷gmail.com</em>
or complete the form below ↓</p>

{% include "contactform.njk" %}

{% endblock %}