---
title: CONTACT
permalink: /contact/
eleventyNavigation:
  key: contact
  order: 6
---
{% extends "page.njk" %}

{% block content %}
<h1>Contact</h1>

<p>You can contact me by sending me an email:<br>
<em>hey dot cecilerichard ✷at✷ gmail dot com</em><br>
but it's kind of easier to complete the form below ↓↓↓</p>

<p>You can also find me elsewhere:</p>
<ul>
  <li></li>
</ul>

{% include "contactform.njk" %}

{% endblock %}