---
title: CONTACT
permalink: /contact/
eleventyNavigation:
  key: contact
  order: 6
---
{% extends "page.njk" %}

{% block content %}
<h1>Contact</h1>

<p>You can contact me by sending me an email:<br>
<em>hey ✷dot✷ cecilerichard ✷at✷ gmail ✷dot✷ com</em><br>
but it's kind of easier to complete <a href="#contactform">the form below ↓↓↓</a></p>
<p>You can also find me elsewhere:</p>
<ul>
  <li><a href="https://haraiva.itch.io/" target="_blanket">itch.io</a> - this is where I publish my games!</li>
  <li><a href="https://twitter.com/haraiva" target="_blanket">twitter</a> - my main social media space, for now.</li>
  <li><a href="https://timetheft.social/@haraiva" target="_blanket">mastodon</a> - like Twitter, but sort of more personal and opinionated.</li>
  <li><a href="https://bsky.app/profile/haraiva.bsky.social" target="_blanket">bluesky</a> - like Twitter, but not Twitter.</li>
  <li><a href="https://cohost.org/haraiva" target="_blanket">cohost</a> - mostly a lurking space for me.</li>
  <li><a href="https://www.instagram.com/cecilerichard.design" target="_blanket">instagram</a> - inactive since 2020 but maybe I should revive it?</li>
</ul>

<hr>
{% include "contactform.njk" %}

{% endblock %}