---
title: DESIGN
permalink: /design/
eleventyNavigation:
  key: design
  order: 1
---

{% extends "projectpage.njk" %}

{% block subnav %}
  <h2 class="subnav-title">design</h2>
    <p class="subnav-category">print</p>
      {% for project in collections.print %}
      <div class="nav-item" id="{{ project.data.title | slugify }}"><a href="{{ project.url }}">{{ project.data.title }}</a></div>
      {% endfor %}
    <p class="subnav-category">visual identity</p>
      {% for project in collections['visual identity'] %}
      <div class="nav-item" id="{{ project.data.title | slugify }}"><a href="{{ project.url }}">{{ project.data.title }}</a></div>
      {% endfor %}
    <p class="subnav-category">web</p>
      {% for project in collections.web %}
      <div class="nav-item" id="{{ project.data.title | slugify }}"><a href="{{ project.url }}">{{ project.data.title }}</a></div>
      {% endfor %}
    <p class="subnav-category">typography</p>
      {% for project in collections.typography %}
      <div class="nav-item" id="{{ project.data.title | slugify }}"><a href="{{ project.url }}">{{ project.data.title }}</a></div>
      {% endfor %}
{% endblock %}

{% block content %}
<h1 >{{ title }}</h1>
<p>Select a project from the subnav menu.</p>
{% endblock %}