---
title: design ✷ illustration ✷ games
layout: base.njk
permalink: /
---

<p>Hello! I'm Cecile Richard. I design, I draw, and I make games.</p>

{# <h2>Blog Posts</h2>
{% for post in collections.blog %}
<a href="{{ post.url | url }}">
	<article>
		<h3>{{ post.data.title }}</h3>
		<date>{{ post.date | readableDate}}</date>
	</article>
</a>
{% endfor %}

<h2>Projects</h2>
{% for post in collections.projects %}
<a href="{{ post.url | url }}">
	<article>
		<h3>{{ post.data.title }}</h3>
	</article>
</a>
{% endfor %}
 #}