---
title: {{ site.tagline }}
layout: base.njk
permalink: /
---

<p>hi! i'm cecile and i'm a graphic designer, zine maker, and game designer.</p>

{# <h2>Blog Posts</h2>
{% for post in collections.blog %}
<a href="{{ post.url | url }}">
	<article>
		<h3>{{ post.data.title }}</h3>
		<date>{{ post.date | readableDate}}</date>
	</article>
</a>
{% endfor %}

<h2>Projects</h2>
{% for post in collections.projects %}
<a href="{{ post.url | url }}">
	<article>
		<h3>{{ post.data.title }}</h3>
	</article>
</a>
{% endfor %}
 #}