---
title: ILLUSTRATION
permalink: /illustration/
eleventyNavigation:
  key: illustration
  order: 2
---

{% extends "projectpage.njk" %}

{% block subnav %}
  <h2 class="subnav-title">illustration</h2>
    <div class="subnav-category">drawings</div>
      {% for project in collections.drawings %}
      <div class="nav-item" id="{{ project.data.title | slugify }}"><a href="{{ project.url }}">{{ project.data.title }}</a></div>
      {% endfor %}
    <div class="subnav-category">game art</div>
      {% for project in collections['game art'] %}
      <div class="nav-item" id="{{ project.data.title | slugify }}"><a href="{{ project.url }}">{{ project.data.title }}</a></div>
      {% endfor %}
    <div class="subnav-category">zines</div>
      {% for project in collections.zines %}
      <div class="nav-item" id="{{ project.data.title | slugify }}"><a href="{{ project.url }}">{{ project.data.title }}</a></div>
      {% endfor %}
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<p>Select a project from the subnav menu.</p>
{% endblock %}